<div class="login-container">
    <div class="login-section">
        <div class="login-header">
            <h1>Login <span>or</span> Signup</h1>
        </div>
        <div class="phone-number">
            <div class="country-code">+ 91 |</div>
            <input placeholder="Mobile Number" />
        </div>
        <div class="termsofuse">
            By continuing,I agree to the <a href="/termsofuse" class="hyperlinks">Terms of Use</a>&<a href="/privacypolicy" class="hyperlinks">Privacy Policy</a>
        </div>
        <div class="continue-action">
            <button>CONTINUE</button>
        </div>
        <div class="help-action">
            Have trouble to logging in? <a href="/gethelp" class="hyperlinks">Get Help</a>
        </div>
    </div>
</div>